<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="overflow: hidden;">
    <a-scene vr-mode-ui="enabled: false;" embedded arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;">
        <a-assets>
            
        </a-assets>
        <a-marker preset="hiro">
            <a-entity
                text="value: 0; color: #E8B71F; font-size: 5.0rem;"
                scale="2 2 2"
                id="demo">
            </a-entity>
        </a-marker>
        
        <a-entity camera></a-entity>
    </a-scene>
</body>

</html>