<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="overflow: hidden;">

    <div id="quiz" class="top-bar pt-3 px-3 d-flex justify-content-between">
        <p id="score">Score: <span id="countScore">0</span></p>
        <p id="question"></p>
        <a href="/"><p>Voltar</p></a>
    </div>
    <div id="score-bar" class="top-bar-end pt-3 px-3 d-flex text-center">
        <p id="score">Pontuação final: <span id="countScore-end">0</span></p>
    </div>
    <div id="progressBar">
        <div class="bar"></div>
    </div>
    
    
    <a-scene
    vr-mode-ui="enabled: false;"
    renderer="logarithmicDepthBuffer: true;"
    embedded
    arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;">

        <a-marker id="hiro" preset="hiro" emitevents="true">
            <a-text color="#1e90ff" id="n1" position="-0.5 0 0" rotation="-90 0 0" scale="5 5 5" value="0"></a-text>
        </a-marker>
        <a-marker id="kanji" preset="kanji" emitevents="true">
            <a-text color="#1e90ff" id="n2" position="-0.5 0 0" rotation="-90 0 0" scale="5 5 5" value="0"></a-text>
        </a-marker>

        <a-entity camera></a-entity>
    </a-scene>
    <footer id="footer"></footer>
</body>
<script>
function queryString(parameter) {  
    var loc = location.search.substring(1, location.search.length);   
    var param_value = false;   
    var params = loc.split("&");   
    for (i=0; i<params.length;i++) {   
        param_name = params[i].substring(0,params[i].indexOf('='));   
        if (param_name == parameter) {                                          
            param_value = params[i].substring(params[i].indexOf('=')+1)   
        }   
    }   
    if (param_value) {   
        return param_value;   
    }   
    else {   
        return undefined;   
    }   
}

sinais = []
var dificuldade
var config = queryString("config");
for (i = 0; i <= config.length; i++){
    if(config[i]=='+'){
        sinais.push(config[i])
    }
    if(config[i]=='-'){
        sinais.push(config[i])
    }
    if(config[i]=='*'){
        sinais.push(config[i])
    }
    if(config[i]=='/'){
        sinais.push(config[i])
    }
    if(config[i]=='0'){
        dificuldade = 'facil'
    }
    if(config[i]=='1'){
        dificuldade = 'medio'
    }
    if(config[i]=='2'){
        dificuldade = 'dificil'
    }
    
}
countSinais = sinais.length

function getRandomInt(max) {
    value = Math.floor(Math.random() * max);
    return value+1
}

function quiz() {
    num1 = getRandomInt(10);
    num2 = getRandomInt(10);
    dividendo = num1 * getRandomInt(10)
    sinal = sinais[getRandomInt(countSinais)-1]
    if (sinal == '+'){
        correta = num1+num2
        errada = correta + getRandomInt(3)
    }
    if (sinal == '-'){
        correta = num1-num2
        errada = correta - getRandomInt(3)
    }
    if (sinal == '*'){
        correta = num1*num2
        errada = correta + num1
    }
    if (sinal == '/'){
        if (dividendo>num1){
            correta = dividendo/num1
        }else if (num1>dividendo){
            correta = num1/dividendo
        }
        else {
            correta = dividendo/num1
        }
        
        errada = correta+num1
    }
    var1 = getRandomInt(2)-1
    if (var1 == 0){
        var2 = correta;
        var1 = errada
    } else {
        var2 = errada;
        var1 = correta
    }


    if(sinal=='/'){
        return configString = `${dividendo} ${sinal} ${num1}`
    } else {
        return configString = `${num1} ${sinal} ${num2}`
    }
}

score=$("#countScore")[0];
countPontos = 0
function somarPontos(){
    countPontos = countPontos+10
    score.setAttribute('value' ,countPontos);
    document.querySelector("#countScore").innerHTML = countPontos;
}
function subtrairPontos(){
    countPontos = countPontos-5
    score.setAttribute('value' ,countPontos);
    document.querySelector("#countScore").innerHTML = countPontos;
}


function startgame() {
    quiz()
        
    $( document ).ready(function() {
        $el=$("#n1")[0];
        $el.setAttribute('value' ,var1);
    });

    $( document ).ready(function() {
        $el=$("#n2")[0];
        $el.setAttribute('value' ,var2);
    });

    $( document ).ready(function() {
        $("#question").text(configString);
    });
}

startgame()

if(dificuldade=='facil'){
    endGame = 60000;
    temporizador = 60;
}
if(dificuldade=='medio'){
    endGame = 45000;
    temporizador = 45;
}
if(dificuldade=='dificil'){
    endGame = 30000;
    temporizador = 30;
}

window.setTimeout(function(){
    $('.top-bar').css({visibility: "hidden"});
    $('#footer').css({visibility: "hidden"});
    $('#progressBar').css({visibility: "hidden"});
    
    $('.top-bar-end').css({visibility: "visible"});
    document.querySelector("#countScore-end").innerHTML = countPontos;
    window.setTimeout(function(){
    window.location.href='/'
    }, 5000);
}, endGame);

hiro.addEventListener('markerFound', function() {
    document.querySelector("#footer").innerHTML = 'aguardando...';
    $('#footer').css({backgroundColor: "rgba(0, 0, 0, 0.8)"})
})

hiro.addEventListener('markerLost', function() {
    if(var1==correta){
        document.querySelector("#footer").innerHTML = 'acertou';
        $('#footer').css({backgroundColor: "rgba(0, 255, 0, 0.8)"})
        somarPontos()
        startgame()
        
    } else {
        document.querySelector("#footer").innerHTML = 'errou';
        $('#footer').css({backgroundColor: "rgba(255, 0, 0, 0.8)"})
        subtrairPontos()
        startgame()
    }
})

kanji.addEventListener('markerFound', function() {
    document.querySelector("#footer").innerHTML = 'aguardando...';
    $('#footer').css({backgroundColor: "rgba(0, 0, 0, 0.8)"})
})

kanji.addEventListener('markerLost', function() {
    if(var2==correta){
        document.querySelector("#footer").innerHTML = 'acertou';
        $('#footer').css({backgroundColor: "rgba(0, 255, 0, 0.8)"})
        somarPontos()
        startgame()
    } else {
        document.querySelector("#footer").innerHTML = 'errou';
        $('#footer').css({backgroundColor: "rgba(255, 0, 0, 0.8)"})
        subtrairPontos()
        startgame()
    }
})


    const progressBar = document.querySelector('#progressBar .bar');
    function progress(startTime, timetotal) {
        const timeleft = timetotal + (startTime - Date.now()) / 1000 | 0;
    if (timeleft > 0) {
        const progressBarWidth = timeleft * 100 / timetotal;
        // progressBar.innerHTML = `${timeleft} seg`;
        progressBar.style.width = `${progressBarWidth}%`;
        setTimeout(progress, 1000, startTime, timetotal);
    } else {
        progressBar.innerHTML = ``;
        progressBar.style.width = "0";
        // window.location.replace("ENDEREÇO");
    }
    }

    progress(Date.now(), temporizador);
</script>
</html>