<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- style for the loader -->
    <style>
        .quiz {
            width: 100%;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .quiz div {
            text-align: center;
            font-size: 1.25em;
            color: white;
        }
        </style>

</head>
<body style="overflow: hidden;">

    <div class="quiz">
        <div><p id="question"></p></div>
    </div>
    
    <a-scene
    vr-mode-ui="enabled: false;"
    renderer="logarithmicDepthBuffer: true;"
    embedded
    arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;"
    >
        <a-marker preset="kanji">
            <a-text id="n1" position="-0.3 0 0" rotation="0 0 0" scale="2 2 2" value="0"></a-text>
        </a-marker>
        <a-marker preset="hiro">
            <a-text id="n2" position="-0.3 0 0" rotation="0 0 0" scale="2 2 2" value="0"></a-text>
        </a-marker>

        <!-- <a-marker preset="hiro">
            <a-text position="-0.3 0 0" rotation="0 0 0" scale="2 2 2" value="0"></a-text>
        </a-marker> -->

        <a-entity camera></a-entity>
    </a-scene>
</body>
</html>